<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'polls/app.css' %}" />
    </head>

    <body>
        <div class="wrapper">
            <nav class="nav">
                <div class="container">
                	<h1 class="nav__header">Clever Movie</h1>
                </div>
            </nav>

            <main class="main">
                <div class="container">
                	<form class="search-form" action="/search">
						<input placeholder="enter a movie..." class="search-form__query" type="text" name="query"/>
                        <span class="search-form__icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </form>
                </div>
            </main>

            <section class="result">
            	<div class="container">
					<div class="movies">
						{% for el in search_result %}
                        	<div class="movies__item">
                                <!-- <div class="movies__item-title">
                                   {{ el.fields.Name }}
                                </div> -->
                                <img class="movies__item-image" src='{{ el.fields.Photos.0.url }}' />
                                <div class="movies__item-title">
                                    <p>{{ el.fields.Name }} </p>
                                </div>
                            </div>

                        {% endfor %}

                        {% for movie_title, movie_image_url in movies_stuff %}
                        	<div class="movies__item">
                        		<img class="movies__item-image" src='{{ movie_image_url }}' />
                                <div class="movies__item-title">
                                    <p>{{ movie_title }} </p>
                                </div>
                            </div>
                        {% endfor %}


                        </div>
            	</div>
            </section>

            <footer class="footer">
				<p class="footer__text">Handcrafted with ❤️ @Cleverprogrammer LLC</p>
            </footer>

        </div>



    </body>



</html>
